<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PickerView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A2A6B6311DD2523D0059FC1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2A6B6451DD2523D0059FC1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2A6B6501DD2523D0059FC1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
