<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Preguntas.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>335512801DE4CA9F001D38B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>335512941DE4CA9F001D38B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3355129F1DE4CA9F001D38B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
