<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Trivial.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>33314EB81DDB8B0B0078F215</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33314ECC1DDB8B0B0078F215</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33314ED71DDB8B0B0078F215</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
